
/* Add your custom CSS here */
/* You can modify this CSS file as per your requirements */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.bannerBgImage {
  height: 100vh;
  background-image: url("images/bannerimage.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.bannerBgImage{
  height: 100vh;
  background:url("images/bannerimage.jpg");
  background-size:cover;
  position : relative;
}
.bannerText{
  text-align:right;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:rgb(0, 0, 0);
}
.bannerTitle{
  font-size:4rem;

}
.bannerDesc{
text-decoration: solid;
color: rgb(1, 1, 1);
  font-size:2rem;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
